<!DOCTYPE html>
<html>
<head>
  <title>Broadcast</title>
  <%= stylesheet_link_tag    "broadcast/application", media: "all" %>
  <%= javascript_include_tag "broadcast/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
